ipython
ipdb

Django==1.4
django-extensions==0.8
django-debug-toolbar
django-jenkins
Werkzeug
oauth2

requests
simplejson
PIL

pyvows
selenose

mysql-python
pymongo
python-memcached
redis

BeautifulSoup
pep8
lxml
